// COLOURS

$white: #ffffff;
$black: #000000;
$grey200: #d8d8d8;
$blue100: #e5eaf1;
$blue50: #f6faff;

// SPACING

$spacing100: 0.5rem;
$spacing150: 0.75rem;
$spacing200: 1rem;
$spacing225: 1.125rem;
$spacing300: 1.5rem;
$spacing400: 2rem;
$spacing500: 2.5rem;
$spacing550: 2.75rem;
$spacing600: 3rem;
$spacing700: 3.5rem;
$spacing800: 4rem;
$spacing1000: 5rem;
$spacing1200: 6rem;
$spacing1400: 7rem;

$spacing2200: 11rem
