@use "/src/sass/base" as b;
@use "/src/sass/mixin" as mx;

header {
  background: url("images/mobile/image-hero.jpg");
  background-color: #00000066;
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: b.$white;
  padding-block: clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem);
  padding-inline: clamp(1.5rem, -1.493rem + 12.77vw, 10rem);

  @include mx.for-tablet-portrait-up {
    background: url("images/desktop/image-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00000066;
    background-blend-mode: darken;
  }

  @include mx.for-desktop-up {
    box-sizing: content-box;
    margin-inline: auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img.logo {
      width: 144px;
      height: 24px;
      z-index: 100;
    }

    button {
      border: none;
      width: fit-content;
      z-index: 100;
    }

    img.menu-icon {
      width: 24px;
      height: 20px;
    }

    .menu-container {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateX(100%);
      background-color: b.$black;
      z-index: 50;
      transition: transform 250ms linear;

      menu {
        margin-block: b.$spacing2200;
        padding-inline: b.$spacing300;
        display: flex;
        flex-direction: column;
        gap: b.$spacing300;
        @include mx.txt-prst-5;

        a {
          text-decoration: none;
          color: b.$white;

          li {
            list-style: none;
          }
        }

        @include mx.for-tablet-portrait-up {
          padding-inline: b.$spacing1000;
        }
      }
    }
    .open-menu {
      transform: translateX(0%);
      max-height: 100vh;
    }
  }

  h1 {
    @include mx.txt-prst-3;
    padding: b.$spacing225 b.$spacing300;
    border: b.$white solid 2px;
    margin-block: 10rem;
    max-width: 400px;
    text-wrap: pretty;

    @include mx.for-tablet-portrait-up {
      @include mx.txt-prst-1;
      margin-block: 8rem;
      max-width: 600px;
    }
  }
}
